<!DOCTYPE html>
<html>
<head>
    {include file="public/headscript" /}
</head>
<body >
<style>
    .layui-table th,.layui-table td{
        line-height:25px;
    }
    .layui-table td,.layui-table th{
        border:1px solid #bec4db
    }
    .rowhide{
        display:none
    }

    .gradeX{
        border:0px solid transparent;
    }
</style>
<div class="container"  style="width:80%;min-width:1200px;margin-top:20px;">
    {include file="public/head_nav" /}
    <div class="tab-panel" style="margin-top:20px;background-color:#f2f2f2">
        <p style="margin-left:5%;margin-top:20px;font-size:15px; cursor: pointer;" onclick="fanhui()">所有企业><a style="color:#86bfe6;text-decoration:none;font-size:15px">企业账号密码列表</a></p>
        <div class="x-body" style="width:90%;margin-left:5%;margin-top:10px;margin-bottom:30px;border:2px solid #e3e3e3;background-color:#fff" >
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="row" style="padding:5px 0 5px 0 ">
                                <form action="{:url('admin/Index/accountInfo')}" method="post">
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <input type="text" placeholder="请输入要查询的关键字" class="input-sm form-control" name="key"> <span class="input-group-btn">
                                        <button type="submit" class="btn btn-sm btn-primary"> 搜索</button> </span>
                                    </div>
                                </div>
                                </form>

                            </div>
                            <table class="table table-striped table-bordered table-hover" id="table1">
                                <thead>
                                <tr style="border:0px solid transparent;background-color:#d2deec;"  >
                                    <th style="text-align:center;width:30%">用户账号</th>
                                    <th style="text-align:center">用户密码</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeX"  >
                                    {foreach $list as $v}
                                    <td  style="vertical-align:middle;padding:0px;border:0px solid transparent;" align="center" height="45px">{$v.username}</td>
                                    <td  style="vertical-align:middle;padding:0px;border:0px solid transparent;" align="center"  height="45px">{$v.password}</td>
                                </tr>
                                {/foreach}
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="./lib/layui/layui.js" charset="utf-8"></script>
<script src="js/bootstrap.min.js?v=3.3.6"></script>
<script type="text/javascript" src="./js/xadmin.js"></script>
<script src="js/icheck.min.js"></script>
<script src="js/js/jquery.dataTables.js"></script>
<script src="js/js/dataTables.bootstrap.js"></script>
<script src="js/export.js"></script>
<script src="js/common.js"></script>
</body>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'icheckbox_square-green',
        });
    });


    function fanhui(){
        window.location.href="{:url('admin/Index/index')}";
    }
</script>
</html>
